<!-- if i umute this it breaks the css.. interesting /{/%/ extends "index.html" /%/}/ -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <!-- Remember to replace this with your title! -->
    <title>About Us</title>
    
    <!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


   <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
   <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->
   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="/static/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/theme-elements.css">
		<link rel="stylesheet" href="/static/css/theme-blog.css">
		<link rel="stylesheet" href="/static/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="/static/css/demos/demo-landing.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="/static/css/skins/skin-landing.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.min.js"></script>



    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">



   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />


  </head>

  <body data-bs-spy="scroll">


  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->

<!-- 
  <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about" tabindex="-1">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg p-0">
    <div class="container-fluid" id="stayy">
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item1">
            <a class="nav-link" aria-current="page" href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
          </li>
          <li class="nav-item"><p class="quiet">--------</p></li>
          <li class="nav-item1">
            <a class="nav-link" href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
          </li>
          <li class="nav-item1">
            <a class="nav-link" href="https://www.linkedin.com/in/aidan-arnold/" style="color: Dodgerblue;"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/assessments">Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about" tabindex="-1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services" tabindex="-1">Forms/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs" tabindex="-1">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- About paragraph section -->
<section>
  <div class="container22">
  <div class="row">
    <div class="col col-6 imgbak2">
      <p></p>
    </div>
    <div class="col col-5 cleanTextOverhang">
      <h1 class="stronghead">About Michele</h1>
      <hr>
      <p class="cleantext">Dr. Durrance-Miller is a Licensed Psychologist in the state of Florida who specializes in psycho-
        educational and psychological assessment. She has been in practice in the Tampa Bay area
        since 2003 and has experience in the public, private and charter school settings, as well as
        hospitals, courtrooms, and private practice. <br> Dr. Durrance-Miller has dedicated her practice to
        providing comprehensive evaluations to meet the unique needs of each client. She
        understands that the most important part of the evaluation is not the diagnosis obtained but
        how the results will lead to effective school-based and treatment recommendations. The goal
        of psychological testing is to identify individual strengths and weaknesses which will optimize
        one’s potential. <br>On a personal note, Dr. Durrance-Miller has three children, one of which has
        been diagnosed with ADHD/Autism, making her uniquely qualified to provide supports to
        families of children with special needs.</p>
    </div>
    </div>
  </div>

</section>
<br>


<!-- Testimonial Section -->
<section id="testimonial-section">
  <div class="container"><br>
    <div class="row">
      
      <h1 class="stronghead">Testemonials</h1>
      
      <hr class="boshhh" style="height:4px;text-align:left;margin-left:-200px;color:rgb(250, 213, 66)">
      <br>
    </div>
    <div class="row">
      <div class="col col-1"></div>
      <div class="col col-5 bioo">
        <p class="textOrh">I am so grateful to have Dr. Durrance as a resource for my patients.  She is able to put her
          clients at ease while conducting expert psychological testing.  She is able to discuss difficult
          symptoms at length in order to reach a deeper understanding of her clients&#39; conditions.  Her
          dedication to excellence in the care of her clients is extraordinary. 
          <br><br> -Dr. Sheryl Hakala,  Licensed Psychiatrist</p>
      </div>
      <div class="col col-5 bioo">
        <p class="textOrh">I am so grateful to have Dr. Durrance as a resource for my patients.  She is able to put her
          clients at ease while conducting expert psychological testing.  She is able to discuss difficult
          symptoms at length in order to reach a deeper understanding of her clients&#39; conditions.  Her
          dedication to excellence in the care of her clients is extraordinary. 
          <br><br> -Dr. Sheryl Hakala,  Licensed Psychiatrist</p>
      </div>
      
      <div class="col col-4">

      </div>

    </div>
  </div>

</section>



<section class="section section-funnel position-relative border-0 pt-0 m-0">
  <div class="container pb-5 mb-5">
    <h2 class="fotn-weight-extra-bold mb-1 text-center">
      <b class="text-10 d-block line-height-5 font-weight-extra-bold appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="250" data-appear-animation-duration="750">Hundreds Satisfied</b>
      <span class="font-weight-bold text-4 line-height-8 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750">from over nearly two decades of service</span>
      <br><br>
    </h2>
    <!-- <p class="font-weight-bold text-4 text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">from over a decade of service</p> -->
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="850" data-appear-animation-duration="850">
      <h5 class="font-weight-semibold positive-ls-2 text-4 text-primary text-center mb-0">TOP 5 STAR RATINGS</h5>
      <p class="text-default text-center mb-4">Real people, real stories. Hear from our community.</p>

      <div class="owl-carousel carousel-center-active-item-2 nav-style-4 mb-4 pb-3" data-plugin-options="{'items': 1, 'loop': true, 'nav': true, 'dots': false}">
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">April Green, APRN</h4>
              <span class="opacity-7">Focus of Tampa Bay</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"As a healthcare professional treating children and adolescents with ADHD I frequently request psychoeducational testing to be performed by Dr. Durrance-Miller. I trust her extensive experience and professionalism with my patients and their families. I highly recommend!"</p>
        </div>	
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">Dr. Sheryl Hakala</h4>
              <span class="opacity-7">Licensed Psychiatrist</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"I am so grateful to have Dr. Durrance as a resource for my patients.  She is able to put her clients at ease while conducting expert psychological testing.  She is able to discuss difficult symptoms at length in order to reach a deeper understanding of her clients' conditions.  Her dedication to excellence in the care of her clients is extraordinary. "</p>
        </div>
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">daniyal1997</h4>
              <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"This theme continues to blow my mind! I can't believe how many features and layouts that are included and yet how elegantly it's all executed underneath."</p>
        </div>
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">alfvlx</h4>
              <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"The best template i had work on!!!!!"</p>
        </div>
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">marcoss2009</h4>
              <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"The best theme in Themeforest. I like it because I can customize it without problems."</p>
        </div>
        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">moirajanetallen</h4>
              <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"Very impressed with the great customer support."</p>
        </div>

        <div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
              <h4 class="text-5 mb-0">majstro7</h4>
              <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
              <i class="fas fa-star text-color-dark"></i>
            </span>
          </div>
          <p class="mb-0 text-2">"Good code quality ! Very fast and good support ! I recommended it in 100% !"</p>
        </div>
      </div>
    </div>
    <p class="text-center mb-5"><a class="btn btn-dark btn-modern btn-rounded btn-px-5 btn-py-3 text-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250" data-appear-animation-duration="600" href="https://themeforest.net/checkout/from_item/4106987?license=regular&support=bundle_6month&ref=Okler" target="_blank">Contact Now!</a></p>
  </div>
  <div class="section-funnel-layer-bottom">
    <div class="section-funnel-layer bg-light"></div>
    <div class="section-funnel-layer bg-light"></div>
  </div>
</section><br><br><br><br><br><br><br><br>
 



<!-- Footer section -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <div class="footer bg-dark" >
        <div class="container" id="pigga">
          <div class="row"><hr style="height:4px;color:rgb(0, 0, 0)"></div>
          <div class="row">
           <div class="col col-lg-4 col-sm-6">
             <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><i class="fas fa-map-marked-alt"> Tampa Bay Marina Center 205 South Hoover Blvd. Tampa 33609</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
           </div>
          </div>
          <div class="row">
            <div class="col col-12">
            <p class="foottext">©2020 by Dr. Michele Durrance Psychologist.</p></div>
          </div>
         </div></div>
       <!-- </footer> -->

  <!-- Bootstrap Javascript -->
  		<!-- Vendor -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
      <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="/static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/static/vendor/jquery.validation/jquery.validate.min.js"></script>
      <script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
      <script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
      <script src="/static/vendor/lazysizes/lazysizes.min.js"></script>
      <script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
      <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
      <script src="/static/vendor/vide/jquery.vide.min.js"></script>
      <script src="/static/vendor/vivus/vivus.min.js"></script>
  
      <!-- Theme Base, Components and Settings -->
      <script src="/static/js/theme.js"></script>
  
      <!-- Theme Custom -->
      <script src="/static/js/custom.js"></script>
  
      <!-- Theme Initialization Files -->
      <script src="/static/js/theme.init.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>