<!-- if i umute this it breaks the css.. interesting /{/%/ extends "index.html" /%/}/ -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <!-- Remember to replace this with your title! -->
    <title>Assessments</title>
    
    <!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    

   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <!-- template stuff -->

    		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

    <meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">
    <!-- TODO updata meta tags -->

		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="/static/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/theme-elements.css">
		<link rel="stylesheet" href="/static/css/theme-blog.css">
		<link rel="stylesheet" href="/static/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="/static/css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/css/custom.css">

		<!-- Head Libs -->
		<script src="/static/vendor/modernizr/modernizr.min.js"></script>




    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />


  </head>

  <body data-plugin-page-transition data-bs-spy="scroll">


  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->

  <div class="body">
    <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body border-top-0">
            <div class="header-top header-top-default border-bottom-0 bg-color-primary">
                <div class="container">
                    <div class="header-row py-2">
                        <div class="header-column justify-content-start">
                            <div class="header-row">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <span class="text-light text-4 opacity-7 ps-0">Call Us Today! (813) 421-2192</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills text-uppercase text-7">
                                        <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                            <a class="nav-link ps-0 text-light opacity-7" href="https://www.linkedin.com/in/michele-durrance-b6885977/"><i class="fab fa-linkedin"></i></a>
                                        </li>
                                        <!-- <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                            <a class="nav-link text-light opacity-7 pe-0" href="contact-us.html"><i class="fas fa-angle-right"></i> Contact Us</a>
                                        </li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container header-container-md container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/">
                                    <img alt="Porto" width="300" height="auto" data-sticky-width="175" data-sticky-height="auto" src="/static/img/tbtLogoFinal-2.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-dark header-nav-bottom-line-effect-1 order-2 order-lg-1">
                                <div class="header-nav-main header-nav-main-square header-nav-main-text-capitalize header-nav-main-text-size-2 header-nav-main-text-weight-600 header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="/">
                                                    Home
                                                </a>
                                            </li>
                                            <li class="dropdown dropdown-mega">
                                                <a class="dropdown-item dropdown-toggle active" href="/assessments">
                                                    Assessments
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="/about">
                                                    About Us
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="/services">
                                                    Forms/FAQ
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="/contactUs">
                                                    Contact
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/img/assessments.jpeg);background-position: center;background-size: cover;">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-12 align-self-center p-static order-2 text-center">
            <h1 class="text-15 font-weight-bold mb-3">Assessments</h1>

          </div>
        </div>
      </div>
    </section>
<!--   old navbar
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg p-0">
    <div class="container-fluid" id="stayy">
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item1">
            <a class="nav-link" aria-current="page" href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
          </li>
          <li class="nav-item"><p class="quiet">--------</p></li>
          <li class="nav-item1">
            <a class="nav-link" href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
          </li>
          <li class="nav-item1">
            <a class="nav-link" href="https://www.linkedin.com/in/aidan-arnold/" style="color: Dodgerblue;"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/assessments">Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services" tabindex="-1">Forms/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs" tabindex="-1">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


<!-- About paragraph section -->
<section>
  <div class="container22">
  <div class="row">
    <div class="col col-3">
    </div>
    <div class="col col-6 cleanTextOverhang">
      <h1 class="stronghead">A Little More</h1>
      <hr>
      <p class="cleantext">There are so many reasons for choosing to undergo a psychological/psych-educational
        evaluation. Some clients are trying to gather information, others want an accurate diagnosis
        while some are seeking specific recommendations. A comprehensive evaluation includes
        information gathered through interviews/consultation, behavioral observations, and actual
        testing results. Depending on the nature of the referral, the assessment may include screeners,
        diagnostic testing, or a more comprehensive assessment. Most evaluations include a formal
        report along with a detailed feedback session reviewing the results and recommendations.</p>
    </div>
    </div>
  </div>

</section>
<br><br>

<!-- Step-by-Step Hero section -->
<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
    <div class="home-concept mt-5">
        <div class="container">

            <div class="row text-center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-lg-2 ms-lg-auto">
                    <div class="process-image">
                        <img src="/static/img/blueprintPlan.jpg" alt="Image of people working on a strategy" />
                        <strong>Strategize</strong>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="process-image process-image-on-middle">
                        <img src="/static/img/planning2.jpg" alt="Image of people working on a strategy" />
                        <strong>Plan</strong>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="process-image">
                        <img src="/static/img/implement.jpeg" alt="Image of follow up PostIt notes." />
                        <strong>Implement</strong>
                    </div>
                </div>
                <div class="col-lg-4 ms-lg-auto">
                    <div class="project-image">
                        <div id="fcSlideshow" class="fc-slideshow">
                            <ul class="fc-slides">
                                <li><a href="portfolio-single-wide-slider.html"><img class="img-fluid" src="/static/img/happyKids.jpg" alt="" /></a></li>
                                <li><a href="portfolio-single-wide-slider.html"><img class="img-fluid" src="/static/img/results1.jpg" alt="" /></a></li>
                                <li><a href="portfolio-single-wide-slider.html"><img class="img-fluid" src="/static/img/happyKid.jpg" alt="" /></a></li>
                            </ul>
                        </div>
                        <strong class="our-work">Improve</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Attention Deficit/Hyperactivity Disorder (ADHD)
Specific Learning Disorders
Giftedness/Intelligence Testing
Autism Spectrum Disorder
Kindergarten Readiness
Personality Assessment
Emotional/Behavioral Disorders

Neuropsychological Screening -->

<section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
    <div class="container">

        <div class="row">
            <div class="col-md-10 py-3 mx-md-auto">
                <div class="row pt-2 clearfix">
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                            <div class="feature-box-icon">
                                <i class="icon-user-following icons text-color-light"></i>
                                <!-- <img src="https://img.icons8.com/ios-glyphs/50/000000/adhd.png"/> -->
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Deficit/Hyperactivity Disorder (ADHD)</h4>
                                <p class="mb-4 text-color-light opacity-6">ADHD is a persistent pattern of inattention
                                    and/or hyperactivity-impulsivity that interferes with functioning or development.<br><br>
                    There are three types: predominantly inattentive presentation, predominantly hyperactive/impulsive
                                    presentation, and combined presentation.<br><br> Depending on the nature of the referral, screenings,
                                    basic or comprehensive diagnostic assessment or psychological/psycho-educational evaluations
                                    are recommended.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                            <div class="feature-box-icon" style="width: 57px; height: 57px;">
                                <!-- <i class="icon-layers icons text-color-light"></i> -->
                                <svg class="icon-layers icons text-color-light" style="filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(282deg) brightness(107%) contrast(91%);;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 12.875v5.068c0 2.754-5.789 4.057-9 4.057-3.052 0-9-1.392-9-4.057v-6.294l9 4.863 9-3.637zm-8.083-10.875l-12.917 5.75 12 6.5 11-4.417v7.167h2v-8.25l-12.083-6.75zm13.083 20h-4c.578-1 1-2.5 1-4h2c0 1.516.391 2.859 1 4z"/></svg>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Specific Learning Disorders (SLD)</h4>
                                <p class="mb-4 text-color-light opacity-6">SLD is a neurodevelopmental disorder which includes
                                    persistent difficulties in learning despite the provision of extra help at home or at school.<br><br>
                                    Individuals with SLD exhibit well below average academic skills as compared with same age
                                    peers. SLD can occur in the areas of reading, written expression and/or mathematics and can
                                    affect one or multiple areas including word reading accuracy, reading fluency, reading
                                    comprehension, spelling accuracy, grammar and punctuation accuracy, clarity or organization
                                    of written expression, number sense, memorization of arithmetic facts, accurate or fluent
                                    calculation and accurate math reasoning. <br><br>Terms associated with SLD include dyslexia,
                                    dysgraphia, and dyscalculia. <br>A comprehensive psycho-educational evaluation is recommended
                                    to assess for SLD which includes a battery of cognitive and academic achievement assessments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                            <div class="feature-box-icon">
                                <i class="icon-calculator icons text-color-light"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Giftedness/Intelligence Testing (IQ)</h4>
                                <p class="mb-4 text-color-light opacity-6">Giftedness is present in individuals with an intellectual
                                    ability significantly higher than average. <br><br><br>Individually administered measure of intelligence is
                                    recommended in order to determine the need for enrichment within the school setting. At
                                    times, IQ testing is recommended for other reasons. <br><br><br>Several different IQ tests are offered
                                    depending on the nature of the referral and the specific needs to the client being assessed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                            <div class="feature-box-icon">
                                <i class="icon-star icons text-color-light"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Autism Spectrum Disorder (ASD)</h4>
                                <p class="mb-4 text-color-light opacity-6">The essential features of ASD are persistent impairment in
                                    reciprocal social communication, and social interaction, and restricted, repetitive patterns of
                                    behavior, interests, or activities. Manifestations of the disorder vary greatly depending on the
                                    severity of the condition, developmental level, and chronological age. <br><br>Comprehensive
                                    diagnostic and/or psycho-educational evaluation is recommended in order to develop an
                                    individualized treatment/educational or vocational plan.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                            <div class="feature-box-icon">
                                <i class="icon-drop icons text-color-light"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Kindergarten Readiness</h4>
                                <p class="mb-0 text-color-light opacity-6">Kindergarten readiness assessments are tailored to individual client
                                    needs to determine readiness for school and/or specialized services.<br><br> This type of assessment
                                    can include measures of cognitive ability, pre-academic skills, social/emotional functioning, and
                                    behavior.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                            <div class="feature-box-icon">
                                <i class="icon-mouse icons text-color-light"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-2 text-5 text-color-light">Personality Assessment</h4>
                                <p class="mb-0 text-color-light opacity-6">Many psychological conditions present with a specific course
                                    throughout development, however, personality includes a more stable set of behaviors,
                                    cognition, and emotional patterns that evolve from both biological and environmental factors.<br><br>
                                    Assessment in this area is useful when treatment planning and is offered for adolescents and
                                    adults, particularly when traditional treatment has been ineffective.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                                <div class="feature-box-icon">
                                    <i class="icon-drop icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">Emotional/Behavioral Disorders</h4>
                                    <p class="mb-0 text-color-light opacity-6">Many different clinical disorders lead to
                                        emotional/behavioral struggles in children, adolescents, and adults. <br><br>Symptoms are assessed via
                                        clinical interview, collaborative consultation, and psychological assessment which often
                                        includes measures/input from multiple raters (parent, self, teacher, etc..) to determine the
                                        severity of struggles occur across settings. <br><br>Comprehensive diagnostic and/or psycho-
                                        educational evaluation is recommended to develop an individualized treatment/educational or
                                        vocational plan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                <div class="feature-box-icon">
                                    <i class="icon-mouse icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">Career Exploration</h4>
                                    <p class="mb-0 text-color-light opacity-6">Clients who struggle to decide on a college or vocational path often benefit
                                        from assessment in aptitude and interest. <br><br>This type of assessment is useful for high school
                                        students and adults who are seeking help deciding on a college major or career change.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

</section>





<!-- <section>
  <div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Deficit/Hyperactivity Disorder (ADHD)</strong></h4>
          
        </div>
        <div class="row" style="text-align: left;">
          <hr style="width: 80%; margin-left: 8%;">
          <ul>
            <li>
              <p>ADHD is a persistent pattern of inattention
                and/or hyperactivity-impulsivity that interferes with functioning or development. </p>
            </li><br><br>
            <li>
              <p>There are
                three types: predominantly inattentive presentation, predominantly hyperactive/impulsive
                presentation, and combined presentation. </p>
            </li><br><br>
            <li>
              <p>Depending on the nature of the referral, screenings,
                basic or comprehensive diagnostic assessment or psychological/psycho-educational evaluations
                are recommended.</p>
            </li>
          </ul>
          <p>ADHD is a persistent pattern of inattention
            and/or hyperactivity-impulsivity that interferes with functioning or development. <br><br><br>There are
            three types: predominantly inattentive presentation, predominantly hyperactive/impulsive
            presentation, and combined presentation. <br><br><br>Depending on the nature of the referral, screenings,
            basic or comprehensive diagnostic assessment or psychological/psycho-educational evaluations
            are recommended.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Specific Learning Disorders (SLD)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>SLD is a neurodevelopmental disorder which includes
            persistent difficulties in learning despite the provision of extra help at home or at school.<br><br>
            Individuals with SLD exhibit well below average academic skills as compared with same age
            peers. SLD can occur in the areas of reading, written expression and/or mathematics and can
            affect one or multiple areas including word reading accuracy, reading fluency, reading
            comprehension, spelling accuracy, grammar and punctuation accuracy, clarity or organization
            of written expression, number sense, memorization of arithmetic facts, accurate or fluent
            calculation and accurate math reasoning. <br><br>Terms associated with SLD include dyslexia,
            dysgraphia, and dyscalculia. <br>A comprehensive psycho-educational evaluation is recommended
            to assess for SLD which includes a battery of cognitive and academic achievement assessments.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Giftedness/Intelligence Testing (IQ)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Giftedness is present in individuals with an intellectual
            ability significantly higher than average. <br><br><br>Individually administered measure of intelligence is
            recommended in order to determine the need for enrichment within the school setting. At
            times, IQ testing is recommended for other reasons. <br><br><br>Several different IQ tests are offered
            depending on the nature of the referral and the specific needs to the client being assessed.</p>
        </div>
        <div class="row">
          <img src="/static/img/iqboy.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Autism Spectrum Disorder (ASD)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>The essential features of ASD are persistent impairment in
            reciprocal social communication, and social interaction, and restricted, repetitive patterns of
            behavior, interests, or activities. Manifestations of the disorder vary greatly depending on the
            severity of the condition, developmental level, and chronological age. <br><br>Comprehensive
            diagnostic and/or psycho-educational evaluation is recommended in order to develop an
            individualized treatment/educational or vocational plan.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Kindergarten Readiness</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Kindergarten readiness assessments are tailored to individual client
            needs to determine readiness for school and/or specialized services.<br><br> This type of assessment
            can include measures of cognitive ability, pre-academic skills, social/emotional functioning, and
            behavior.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2 ">
        <div class="row">
          <h4 style="text-align: center;"><strong>Personality Assessment</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Many psychological conditions present with a specific course
            throughout development, however, personality includes a more stable set of behaviors,
            cognition, and emotional patterns that evolve from both biological and environmental factors.<br><br>
            Assessment in this area is useful when treatment planning and is offered for adolescents and
            adults, particularly when traditional treatment has been ineffective.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Emotional/Behavioral Disorders</strong></h4>
          
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Many different clinical disorders lead to
            emotional/behavioral struggles in children, adolescents, and adults. <br><br>Symptoms are assessed via
            clinical interview, collaborative consultation, and psychological assessment which often
            includes measures/input from multiple raters (parent, self, teacher, etc..) to determine the
            severity of struggles occur across settings. <br><br>Comprehensive diagnostic and/or psycho-
            educational evaluation is recommended to develop an individualized treatment/educational or
            vocational plan.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Neuropsychological Screening</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Cognitive screenings and assessment are offered to determine
            areas of strength and weakness as well as pinpoint any deficits leading to impairment.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Career Exploration</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Clients who struggle to decide on a college or vocational path often benefit
            from assessment in aptitude and interest. <br><br>This type of assessment is useful for high school
            students and adults who are seeking help deciding on a college major or career change.</p>
        </div>
      </div>
    </div>
  </div>
</div>


</section> -->




 



<!-- Footer section -->
<section>
  <footer id="footer" class="footer-reveal pt-5 mt-0" style="position: relative !important; height: auto; z-index: 10000 !important">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-md-5 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Contact Details</h5>
                <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><p class="text-4 mb-1">
                    Tampa Bay Marina Center </p>
                <p class="text-4 mb-4 pb-1">205 South Hoover Blvd. Tampa 33609</p></a>
  
                <a href="tel:813421-2192"><p class="text-5 mb-1 pt-2">Call: (813) 421-2192</p></a>
                <p class="text-5 mb-0">Email: <a href="mailto:DrDurrance@me.com">DrDurrance@me.com</a></p>
            </div>
            <div class="col-md-7 col-lg-6 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Pages</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1"><a href="/" class="text-4 link-hover-style-1">Home</a></p>
                        <p class="mb-1"><a href="/assessments" class="text-4 link-hover-style-1">Assessments</a></p>
                        <p class="mb-1"><a href="/about" class="text-4 link-hover-style-1">About Us</a></p>
                        <!-- <p class="mb-1"><a href="elements-tooltips-popovers.html" class="text-4 link-hover-style-1">Forms/FAQ</a></p>
                        <p class="mb-1"><a href="elements-sticky-elements.html" class="text-4 link-hover-style-1">Contact</a></p> -->
                    </div>
                    <div class="col-6">
                        <p class="mb-1"><a href="/services" class="text-4 link-hover-style-1">Forms/FAQ</a></p>
                        <p class="mb-1"><a href="/contactUs" class="text-4 link-hover-style-1">Contact</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Follow Us</h5>
                <ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/drdurrance/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-6"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/psychdoc917?lang=en" target="_blank" title="Twitter"><i class="fab fa-twitter text-6"></i></a></li>
                    <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/michele-durrance-b6885977/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-6"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                    <p>© Copyright 2021. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
  </footer>
  </section>
<!-- <footer id="footer" class="footer-reveal pt-5 mt-0">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-md-5 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Contact Details</h5>
                <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><p class="text-4 mb-1">
                    Tampa Bay Marina Center </p>
                <p class="text-4 mb-4 pb-1">205 South Hoover Blvd. Tampa 33609</p></a>

                <a href="tel:813421-2192"><p class="text-5 mb-1 pt-2">Call: (813) 421-2192</p></a>
                <p class="text-5 mb-0">Email: <a href="mailto:DrDurrance@me.com">DrDurrance@me.com</a></p>
            </div>
            <div class="col-md-7 col-lg-6 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Pages</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1"><a href="elements-call-to-action.html" class="text-4 link-hover-style-1">Home</a></p>
                        <p class="mb-1"><a href="elements-pricing-tables.html" class="text-4 link-hover-style-1">Assessments</a></p>
                        <p class="mb-1"><a href="elements-word-rotator.html" class="text-4 link-hover-style-1">About Us</a></p>

                    </div>
                    <div class="col-6">
                        <p class="mb-1"><a href="elements-progressbars.html" class="text-4 link-hover-style-1">Forms/FAQ</a></p>
                        <p class="mb-1"><a href="elements-sections.html" class="text-4 link-hover-style-1">Contact</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Follow Us</h5>
                <ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/drdurrance/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-6"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/psychdoc917?lang=en" target="_blank" title="Twitter"><i class="fab fa-twitter text-6"></i></a></li>
                    <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/michele-durrance-b6885977/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-6"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                    <p>© Copyright 2021. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <!-- <div class="footer bg-dark" >
        <div class="container" id="pigga">
          <div class="row"><hr style="height:4px;color:rgb(0, 0, 0)"></div>
          <div class="row">
           <div class="col col-lg-4 col-sm-6">
             <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><i class="fas fa-map-marked-alt"> Tampa Bay Marina Center 205 South Hoover Blvd. Tampa 33609</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
           </div>
          </div>
          <div class="row">
            <div class="col col-12">
            <p class="foottext">©2020 by Dr. Michele Durrance Psychologist.</p></div>
          </div>
         </div></div> -->
       <!-- </footer> -->

  <!-- Bootstrap Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- template stuff -->
  <!-- Vendor -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
  <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery.validation/jquery.validate.min.js"></script>
  <script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
  <script src="/static/vendor/lazysizes/lazysizes.min.js"></script>
  <script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
  <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/static/vendor/vide/jquery.vide.min.js"></script>
  <script src="/static/vendor/vivus/vivus.min.js"></script>

  <!-- Theme Base, Components and Settings -->
  <script src="/static/js/theme.js"></script>

  <!-- Circle Flip Slideshow Script -->
  <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
  <!-- Current Page Views -->
  <script src="/static/js/views/view.home.js"></script>

  <!-- Theme Custom -->
  <script src="/static/js/custom.js"></script>

  <!-- Theme Initialization Files -->
  <script src="/static/js/theme.init.js"></script>
  </body>
</html>