<!-- if i umute this it breaks the css.. interesting /{/%/ extends "index.html" /%/}/ -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <!-- Remember to replace this with your title! -->
    <title>Assessments</title>
    
    <!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    

   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />


  </head>

  <body data-bs-spy="scroll">


  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg p-0">
    <div class="container-fluid" id="stayy">
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item1">
            <a class="nav-link" aria-current="page" href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
          </li>
          <li class="nav-item"><p class="quiet">--------</p></li>
          <li class="nav-item1">
            <a class="nav-link" href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
          </li>
          <li class="nav-item1">
            <a class="nav-link" href="https://www.linkedin.com/in/aidan-arnold/" style="color: Dodgerblue;"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/assessments">Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services" tabindex="-1">Forms/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs" tabindex="-1">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- About paragraph section -->
<section>
  <div class="container22">
  <div class="row">
    <div class="col col-3">
    </div>
    <div class="col col-6 cleanTextOverhang">
      <h1 class="stronghead">A Little More</h1>
      <hr>
      <p class="cleantext">There are so many reasons for choosing to undergo a psychological/psych-educational
        evaluation. Some clients are trying to gather information, others want an accurate diagnosis
        while some are seeking specific recommendations. A comprehensive evaluation includes
        information gathered through interviews/consultation, behavioral observations, and actual
        testing results. Depending on the nature of the referral, the assessment may include screeners,
        diagnostic testing, or a more comprehensive assessment. Most evaluations include a formal
        report along with a detailed feedback session reviewing the results and recommendations.</p>
    </div>
    </div>
  </div>

</section>
<br><br>

<!-- Assessments section -->

<!-- Attention Deficit/Hyperactivity Disorder (ADHD)
Specific Learning Disorders
Giftedness/Intelligence Testing
Autism Spectrum Disorder
Kindergarten Readiness
Personality Assessment
Emotional/Behavioral Disorders

Neuropsychological Screening -->

<section>
  <div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Deficit/Hyperactivity Disorder (ADHD)</strong></h4>
          
        </div>
        <div class="row" style="text-align: left;">
          <hr style="width: 80%; margin-left: 8%;">
          <ul>
            <li>
              <p>ADHD is a persistent pattern of inattention
                and/or hyperactivity-impulsivity that interferes with functioning or development. </p>
            </li><br><br>
            <li>
              <p>There are
                three types: predominantly inattentive presentation, predominantly hyperactive/impulsive
                presentation, and combined presentation. </p>
            </li><br><br>
            <li>
              <p>Depending on the nature of the referral, screenings,
                basic or comprehensive diagnostic assessment or psychological/psycho-educational evaluations
                are recommended.</p>
            </li>
          </ul>
          <!-- <p>ADHD is a persistent pattern of inattention
            and/or hyperactivity-impulsivity that interferes with functioning or development. <br><br><br>There are
            three types: predominantly inattentive presentation, predominantly hyperactive/impulsive
            presentation, and combined presentation. <br><br><br>Depending on the nature of the referral, screenings,
            basic or comprehensive diagnostic assessment or psychological/psycho-educational evaluations
            are recommended.</p> -->
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Specific Learning Disorders (SLD)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>SLD is a neurodevelopmental disorder which includes
            persistent difficulties in learning despite the provision of extra help at home or at school.<br><br>
            Individuals with SLD exhibit well below average academic skills as compared with same age
            peers. SLD can occur in the areas of reading, written expression and/or mathematics and can
            affect one or multiple areas including word reading accuracy, reading fluency, reading
            comprehension, spelling accuracy, grammar and punctuation accuracy, clarity or organization
            of written expression, number sense, memorization of arithmetic facts, accurate or fluent
            calculation and accurate math reasoning. <br><br>Terms associated with SLD include dyslexia,
            dysgraphia, and dyscalculia. <br>A comprehensive psycho-educational evaluation is recommended
            to assess for SLD which includes a battery of cognitive and academic achievement assessments.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Giftedness/Intelligence Testing (IQ)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Giftedness is present in individuals with an intellectual
            ability significantly higher than average. <br><br><br>Individually administered measure of intelligence is
            recommended in order to determine the need for enrichment within the school setting. At
            times, IQ testing is recommended for other reasons. <br><br><br>Several different IQ tests are offered
            depending on the nature of the referral and the specific needs to the client being assessed.</p>
        </div>
        <div class="row">
          <img src="/static/img/iqboy.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Autism Spectrum Disorder (ASD)</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>The essential features of ASD are persistent impairment in
            reciprocal social communication, and social interaction, and restricted, repetitive patterns of
            behavior, interests, or activities. Manifestations of the disorder vary greatly depending on the
            severity of the condition, developmental level, and chronological age. <br><br>Comprehensive
            diagnostic and/or psycho-educational evaluation is recommended in order to develop an
            individualized treatment/educational or vocational plan.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Kindergarten Readiness</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Kindergarten readiness assessments are tailored to individual client
            needs to determine readiness for school and/or specialized services.<br><br> This type of assessment
            can include measures of cognitive ability, pre-academic skills, social/emotional functioning, and
            behavior.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2 ">
        <div class="row">
          <h4 style="text-align: center;"><strong>Personality Assessment</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Many psychological conditions present with a specific course
            throughout development, however, personality includes a more stable set of behaviors,
            cognition, and emotional patterns that evolve from both biological and environmental factors.<br><br>
            Assessment in this area is useful when treatment planning and is offered for adolescents and
            adults, particularly when traditional treatment has been ineffective.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row colorBGN">
  <div class="container">
    <div class="row ">
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Emotional/Behavioral Disorders</strong></h4>
          
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Many different clinical disorders lead to
            emotional/behavioral struggles in children, adolescents, and adults. <br><br>Symptoms are assessed via
            clinical interview, collaborative consultation, and psychological assessment which often
            includes measures/input from multiple raters (parent, self, teacher, etc..) to determine the
            severity of struggles occur across settings. <br><br>Comprehensive diagnostic and/or psycho-
            educational evaluation is recommended to develop an individualized treatment/educational or
            vocational plan.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Neuropsychological Screening</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Cognitive screenings and assessment are offered to determine
            areas of strength and weakness as well as pinpoint any deficits leading to impairment.</p>
        </div>
      </div>
      <div class="col col-1">

      </div>
      <div class="col col-3 colorBGN2">
        <div class="row">
          <h4 style="text-align: center;"><strong>Career Exploration</strong></h4>
        </div>
        <div class="row">
          <hr style="width: 80%; margin-left: 8%;">
          <p>Clients who struggle to decide on a college or vocational path often benefit
            from assessment in aptitude and interest. <br><br>This type of assessment is useful for high school
            students and adults who are seeking help deciding on a college major or career change.</p>
        </div>
      </div>
    </div>
  </div>
</div>


</section>




 



<!-- Footer section -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <div class="footer bg-dark" >
        <div class="container" id="pigga">
          <div class="row"><hr style="height:4px;color:rgb(0, 0, 0)"></div>
          <div class="row">
           <div class="col col-lg-4 col-sm-6">
             <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><i class="fas fa-map-marked-alt"> Tampa Bay Marina Center 205 South Hoover Blvd. Tampa 33609</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
           </div>
          </div>
          <div class="row">
            <div class="col col-12">
            <p class="foottext">©2020 by Dr. Michele Durrance Psychologist.</p></div>
          </div>
         </div></div>
       <!-- </footer> -->

  <!-- Bootstrap Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>