{% load static %}
<!DOCTYPE html>
{% load crispy_forms_tags%}
<html lang="en">
    <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width">
          
          <!-- Remember to replace this with your title! -->
          <title>Forms/FAQ</title>
<!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">


   <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
   <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->
   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

        <!-- template stuff -->

    		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

    <meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">
    <!-- TODO updata meta tags -->

		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="/static/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/theme-elements.css">
		<link rel="stylesheet" href="/static/css/theme-blog.css">
		<link rel="stylesheet" href="/static/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="/static/css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/css/custom.css">

		<!-- Head Libs -->
		<script src="/static/vendor/modernizr/modernizr.min.js"></script>





    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />














          <!-- Link for boostrap from: 
          https://getbootstrap.com/docs/5.0/getting-started/introduction -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
          <!-- Bootstrap Icons -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      
          <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
          <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
          
          
      
        </head>

        
  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->
<body id="colorBGN">
  <!-- <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/services">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0">
        <div class="header-top header-top-default border-bottom-0 bg-color-primary">
            <div class="container">
                <div class="header-row py-2">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <span class="text-light text-4 opacity-7 ps-0">Call Us Today! (813) 421-2192</span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills text-uppercase text-7">
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link ps-0 text-light opacity-7" href="https://www.linkedin.com/in/michele-durrance-b6885977/"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <!-- <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link text-light opacity-7 pe-0" href="contact-us.html"><i class="fas fa-angle-right"></i> Contact Us</a>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container header-container-md container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Porto" width="300" height="auto" data-sticky-width="175" data-sticky-height="auto" src="/static/img/tbtLogoFinal-2.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-dark header-nav-bottom-line-effect-1 order-2 order-lg-1">
                            <div class="header-nav-main header-nav-main-square header-nav-main-text-capitalize header-nav-main-text-size-2 header-nav-main-text-weight-600 header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="/">
                                                Home
                                            </a>
                                        </li>
                                        <li class="dropdown dropdown-mega">
                                            <a class="dropdown-item dropdown-toggle" href="/assessments">
                                                Assessments
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="/about">
                                                About Us
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="/services">
                                                Forms/FAQ
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle active" href="/contactUs">
                                                Contact
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/img/contactUsHeader2.jpeg);background-position: center;background-size: cover;">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 align-self-center p-static order-2 text-center">
        <h1 class="text-15 font-weight-bold mb-3" style="letter-spacing: 2pt;">Contact Us</h1>

      </div>
    </div>
  </div>
</section>
  <section>
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 text-center pt-5">
        <p class="text-2 font-weight-semibold mb-0 pb-0"  style="color: white;">LET'S TALK ABOUT YOU</p>
        <h2 class="text-8 line-height-4 text-lg-10 line-height-lg-1 font-weight-semibold"  style="color: white;">Send us a Message</h2>
        <p class="text-4 font-weight-normal px-3 mb-3" style="color: white;">Enter your personal info below and let's start talking about how we can help you.</p>
        <form class="contact-form form-errors-light" action="php/contact-form.php" method="POST">
          <input type="hidden" value="Contact Form" name="subject" id="subject">
          <div class="form-group col-lg-12 ms-auto">
            <div class="contact-form-success alert alert-success d-none">
              Message has been sent to us.
            </div>

            <div class="contact-form-error alert alert-danger d-none">
              Error sending your message.
              <span class="mail-error-message text-1 d-block"></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-6 pe-lg-2">
              <!-- <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Name..." name="name" id="name" required> -->
              {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-lg-6 ps-lg-2">
              <!-- <input type="text" value="" data-msg-required="Please enter your phone." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Phone..." name="phone" id="phone" required> -->
              {{ form.email|as_crispy_field }}
            </div>
          </div>
          <div class="form-group">
            <!-- <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Email Address..." name="email" id="email" required> -->
            {{ form.subject|as_crispy_field }}
          </div>
          <div class="form-group">
            <!-- <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Email Address..." name="email" id="email" required> -->
            {{ form.phone|as_crispy_field }}
          </div>
          <div class="row">
            <div class="form-group col">
              <!-- <textarea maxlength="5000" data-msg-required="Please enter your message." rows="4" class="form-control text-3 h-auto py-2" placeholder="Your Message..." name="message" id="message" required></textarea> -->
              {{ form.message|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <input type="submit" value="SUBMIT" class="btn btn-primary font-weight-semi-bold mb-lg-5 px-5 py-3" data-loading-text="Loading...">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

<!-- Footer section -->
<section>
  <footer id="footer" class="footer-reveal pt-5 mt-0" style="position: relative !important; height: auto; z-index: 10000 !important">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-md-5 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Contact Details</h5>
                <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7" style="text-decoration: none;"><p class="text-4 mb-1">
                    Tampa Bay Marina Center </p>
                <p class="text-4 mb-4 pb-1">205 South Hoover Blvd. Tampa 33609</p></a>
  
                <a href="tel:813421-2192" style="text-decoration: none;"><p class="text-5 mb-1 pt-2">Call: (813) 421-2192</p></a>
                <p class="text-5 mb-0">Email: <a href="mailto:DrDurrance@me.com" style="text-decoration: none;">DrDurrance@me.com</a></p>
            </div>
            <div class="col-md-7 col-lg-6 mb-5 mb-lg-0">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Pages</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1"><a href="/" class="text-4 link-hover-style-1" style="text-decoration: none;">Home</a></p>
                        <p class="mb-1"><a href="/assessments" class="text-4 link-hover-style-1" style="text-decoration: none;">Assessments</a></p>
                        <p class="mb-1"><a href="/about" class="text-4 link-hover-style-1" style="text-decoration: none;">About Us</a></p>
                        <!-- <p class="mb-1"><a href="elements-tooltips-popovers.html" class="text-4 link-hover-style-1">Forms/FAQ</a></p>
                        <p class="mb-1"><a href="elements-sticky-elements.html" class="text-4 link-hover-style-1">Contact</a></p> -->
                    </div>
                    <div class="col-6">
                        <p class="mb-1"><a href="/services" class="text-4 link-hover-style-1" style="text-decoration: none;">Forms/FAQ</a></p>
                        <p class="mb-1"><a href="/contactUs" class="text-4 link-hover-style-1" style="text-decoration: none;">Contact</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Follow Us</h5>
                <ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/drdurrance/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-6"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/psychdoc917?lang=en" target="_blank" title="Twitter"><i class="fab fa-twitter text-6"></i></a></li>
                    <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/michele-durrance-b6885977/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-6"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                    <p>© Copyright 2021. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
  </footer>
  </section>



  <!-- Bootstrap Javascript -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- template stuff -->
  <!-- Vendor -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
  <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery.validation/jquery.validate.min.js"></script>
  <script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
  <script src="/static/vendor/lazysizes/lazysizes.min.js"></script>
  <script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
  <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/static/vendor/vide/jquery.vide.min.js"></script>
  <script src="/static/vendor/vivus/vivus.min.js"></script>

  <!-- Theme Base, Components and Settings -->
  <script src="/static/js/theme.js"></script>

  <!-- Circle Flip Slideshow Script -->
  <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
  <!-- Current Page Views -->
  <script src="/static/js/views/view.home.js"></script>

  <!-- Theme Custom -->
  <script src="/static/js/custom.js"></script>

  <!-- Theme Initialization Files -->
  <script src="/static/js/theme.init.js"></script>

</body>
</html>