{% load static %}
<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width">
          
          <!-- Remember to replace this with your title! -->
          <title>Forms/FAQ</title>
<!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">


   <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
   <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->
   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />














          <!-- Link for boostrap from: 
          https://getbootstrap.com/docs/5.0/getting-started/introduction -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
          <!-- Bootstrap Icons -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      
          <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
          <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
          
          
      
        </head>

        
  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->
<body id="colorBGN">
  <!-- <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/services">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg p-0 here">
    <div class="container-fluid" id="stayy">
      <div class="collapse navbar-collapse justify-content-left">
        <ul class="navbar-nav">
          <li class="nav-item1">
            <a class="nav-link" aria-current="page" href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
          </li>
          <li class="nav-item"><p class="quiet">--------</p></li>
          <li class="nav-item1">
            <a class="nav-link" href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
          </li>
          <li class="nav-item1">
            <a class="nav-link" href="https://www.linkedin.com/in/aidan-arnold/" style="color: Dodgerblue;"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2 here" id="navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/assessments">Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/services" tabindex="-1">Forms/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs" tabindex="-1">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>  
<br>
<!-- forms section -->


<!-- FAQ section -->
<section>
  <div class="container ">
    <div class="row">
      <div class="col col-12">
        <h1 class="stronghead"">FAQ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-9 clryk clryk2">
        <h2 class="stronghead4">Will my insurance cover the evaluation?</h2>
        <hr style="color: rgb(15, 86, 166); ">
        <p class="cleantext">
        Dr. Durrance-Miller is not an in-network provider for any insurance companies; however, she
        will provide a detailed receipt when requested that can be submitted to your insurance
        provider for reimbursement through your out of network benefits.
      </p>
      </div>
      <div class="col col-3"></div>
    </div><br><br>
    <div class="row">
      <div class="col col-3"></div>
      <div class="col col-9 clryk clryk2">
        <h2 class="stronghead4" style="text-align: right;">Are discounts or sliding scale fees offered?</h2>
        <hr style="color: rgb(15, 86, 166);">
        <p class="cleantext">
          A discount is offered for teachers with a valid teaching identification. A family discount is also
          offered when an evaluation is completed for more than one client within the same household.
          Dr. Durrance-Miller frequently supervises interns and post-doctoral fellows who conduct
          evaluations at a reduced rate.
      </p>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col col-9 clryk3 ">
        <h2 class="stronghead4">What are your office hours?</h2></div>
        <!-- <hr style="color:white  !important; background-color: rgba(242, 123, 53, 1); border-color: rgba(242, 123, 53, 1); height: 4px; z-index: 1000 !important;"> -->
        <div class="col col-9 clryk "><p class="cleantext">
          After school/work hours, weekend, and holiday appointments are available. The office is closed
          on Thanksgiving, Christmas, and New Year’s Day.
      </p>
      </div>
      <div class="col col-3"></div>
    </div><br><br>
    <div class="row">
      <div class="col col-3"></div>
      <div class="col col-9 clryk clryk2">
        <h2 class="stronghead4" style="text-align: right;">Do I have to stay for the evaluation while my child is being tested?</h2>
        <hr style="color: rgb(15, 86, 166);">
        <p class="cleantext">
          You are welcome to stay in the waiting room while your child is being evaluated, however,
          many parents choose to leave the office when testing is occurring. Dr. Durrance-Miller will
          message parents when testing is close to being complete.
      </p>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col col-9 clryk clryk2">
        <h2 class="stronghead4">How long does it take to receive a completed report?</h2>
        <hr style="color: rgb(15, 86, 166);">
        <p class="cleantext">
          Dr. Durrance-Miller typically completes the formal written report within one week of
          completing all the necessary assessments. A zoom feedback session is then scheduled to review
          the results and finalize the report.
      </p>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>
  
</section>

  
</section>
  <br><br>

<!-- Footer section -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <section class="text-center" id="contact-section">  <br>
      <!-- <div class="footer bg-dark" >
        <div class="container" id="pigga">
          <div class="row"><hr style="height:4px;color:rgb(0, 0, 0)"></div>
          <div class="row">
           <div class="col col-lg-4 col-sm-6">
             <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><i class="fas fa-map-marked-alt"> Tampa Bay Marina Center 205 South Hoover Blvd. Tampa 33609</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
           </div>
          </div>
          <div class="row">
            <div class="col col-12">
            <p class="foottext">©2020 by Dr. Michele Durrance Psychologist.</p></div>
          </div>
         </div></div> -->
         <div class="footer bg-dark" >
          <div class="container" id="pigga">
            <div class="row">
             <div class="col col-lg-4 col-sm-6">
               <a href="https://goo.gl/maps/UdZpxziqyMLUHK6v7"><i class="fas fa-map-marked-alt"> Tampa Bay Marina Center 205 South Hoover Blvd. Tampa 33609</i></a>
             </div>
             <div class="col col-lg-4 col-sm-6">
               <a href="mailto:DrDurrance@me.com"><i class="far fa-envelope"> DrDurrance@me.com</i></a>
             </div>
             <div class="col col-lg-4 col-sm-6">
               <a href="tel:813421-2192"><i class="fas fa-phone-alt"> (813) 421-2192</i></a>
             </div>
            </div>
            <div class="row">
              <div class="col col-12">
              <p class="foottext">©2020 by Dr. Michele Durrance Psychologist.</p></div>
            </div>
           </div></div>
         </section>
       <!-- </footer> -->





</body>
</html>