<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <!-- Remember to replace this with your title! -->
    <title>Honey Bee Electric</title>
    
    <!-- Link for boostrap from: 
    https://getbootstrap.com/docs/5.0/getting-started/introduction -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/js/logic.js"></script>


   <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
   <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> -->
   <script src="https://kit.fontawesome.com/d35adc8c44.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  </head>

  <body data-bs-spy="scroll">

  <!-- Navbar: Skip this and start with the hero section. When You're ready to return start by copy/pasting this snippet:

  https://getbootstrap.com/docs/5.0/components/navbar/#nav 
  -->

  
  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->


    <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about" tabindex="-1">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- First Hero image with button -->

<header id="overlayer">
  <section id="hero-section">
      <div class="container centering">
        <h2 class="col-12">
          <h1 class="hb-text">How can we Brighten your day?</h1>
          <br>
          <button type="button" class="btn btn-danger btn-lg" onclick="testies()">CONTACT US NOW</button>
        </h2>
      </div>
  </section>
</header>

<br><br>

<!-- Flash sale count down timer -->
  <section>
    <div row>
      <div class="col-12 container" style="text-align: center">
        <h3 class="head3 container undhed"> Welcome to <strong class="yel-text">Honey Bee Electric LLC!</strong> </h3>
        <h4>Where Quick meets Quality!</h4>
        <br>
        <h3>Exceptional customer service is provided on any job you may have for us!</h3>
        <h3>Honey Bee Electric is skilled in the trade, fair with the price and happy to bring light to every project. </h3>
        <h3>So reach out today and let us know how we can brighten your day!</h3>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-12" style="text-align: center">
        <a href="https://www.tedxmilehigh.com/talks/" class="btn btn-outline-danger btn-lg btn-block">TALK TO THE OWNER NOW</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12" style="text-align: center">
        <a href="https://www.tedxmilehigh.com/talks/" class="btn btn-outline-warning btn-lg btn-block">MORE ABOUT US</a>
      </div>
    </div>
  </section>

  <br><br>

<!-- Second Hero with testimonials -->
<section class="text-center" id="hero-section2">
    <br>
    <h1 class="testhed">Testimonials</h1>
    <div class="container cont">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/kennedy.jpg" class="d-block w-100" alt="kennedy">
      <div class="carousel-caption">
        <p> “Honey Bee Electric is highly skilled in all electrical areas! Chris will provide an accurate quote and work hard to complete your job on time!”</p>
        <p>Kathy, Alton NH</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/obama.jpg" class="d-block w-100" alt="obama">
      <div class="carousel-caption">
        <p> "Was searching for a <strong>trustworthy electrician</strong> for months. Chris came out the same day I contacted him. Very professional and gives an honest price for whatever you need done."</p>
        <p>Riley, Gilford NH</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/rick.jpg" class="d-block w-100" alt="rick">
      <div class="carousel-caption">
        <p>  “Change will not come is we wait for some other person or some other time. We are the ones we've been waiting for. We are the change that we seek.”</p>
        <p>Barrack Obama</p>
      </div>
    </div>
  </div></div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <div class="visually-hidden">Next</span>
  </button>
      </div>
  </section>

<br><br>


  <!-- Mission/Meet-me section -->
  <section id="mission-section">
    <!-- Start writing your Mission/Meet-me section here. -->
      <h3 class="head3 container">Past <span class="head3 container" style="color: #FFB266">HoneyBee</span>Projects </h3>
      <h3 style="text-align: center">Photographed documentation from dozens of our pleased former clients.</h3>
            <br><br>
    <div class="mymiss row">
      <div class="col-lg-3 col-sm-12">
        <div class="col-12 vidbox shadow-lg">
          <div class="row">
            <div class="col-12 embed-responsive embed-responsive-16by9">
              <!-- <iframe class="embed-responsive-item vidi" src="//www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F104454561636243%2Fvideos%2F260314922488019%2F&show_text=false&width=269&t=0" allowfullscreen="true" style="border:none;overflow:hidden" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" scrolling="no" frameborder="0" allowfullscreen="true" width="269" height="476"></iframe> -->
              <iframe class="iframe2" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F104454561636243%2Fvideos%2F260314922488019%2F&show_text=false&width=269&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
          </div>
            <div class= "vidtext">
              <p>Just a little bit about me and Honey Bee!</p>
              <p>#qualityServiceGuaranteed #smallBusinessSupport</p>
            </div>
          </div>
        </div>

<!-- second vid -->

      <div class="col-lg-3 col-sm-12">
        <div class="col-12 vidbox shadow-lg">
          <div class="row">
            <div class="col-12 embed-responsive embed-responsive-16by9">
              <iframe class="iframe2" src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F104454561636243%2Fvideos%2F1233444983736664%2F&show_text=false&width=269&t=0"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
          </div>
            <div class= "vidtext">
              <p>Inside Honey Bee Electric LLC Light installations</p>
              <p>#itsElectric</p>
            </div>
          </div>
        </div>
        
<!-- third vid -->

      <div class="col-lg-3 col-sm-12">
        <div class="col-12 vidbox shadow-lg">
          <div class="row">
            <div class="col-12 embed-responsive embed-responsive-16by9">
              <img class="iframe3" src="static\img\electricBox.jpg">
            </div>
          </div>
            <div class= "vidtext">
              <p>Beautifully finished electric box</p>
              <p>Suzi Q. Smith</p>
            </div>
          </div>
        </div>
<!-- fourth vid -->
      <div class="col-lg-3 col-sm-12">
        <div class="col-12 vidbox shadow-lg">
          <div class="row">
            <div class="col-12 embed-responsive embed-responsive-16by9">
              <img class="iframe3" src="static\img\shedLight.jpg">
            </div>
          </div>
            <div class= "vidtext">
              <p>Excelent shed light I installed</p>
              <p>Greg Bland</p>
            </div>
          </div>
        </div>
    </div>
          <br><br>
    <div class="row">
      <div class="col-12" style="text-align: center">
        <a href="https://www.tedxmilehigh.com/talks/" class="btn btn-outline-danger">Want to see more?</a>
      </div>
    </div>
  </section>


  <!-- Sponsor Section -->
<br><br>
  <section class="text-center" id="contact-section">  <br>
    <h3 class=" head32 conatiner"><span class="head32 container" style="color: #FFB266">HoneyBee</span> HAS ALSO WORKED WITH:</h3>
    <!-- Build out your social contacts  -->
    
    <!-- See https://icons.getbootstrap.com/ -->
    <br>
    <div class="container">

      <!-- row one -->

        <div class="row">
<hr>
          <p style="text-align: left">CORPORATE</p>
          <div class="container col-12">
            <div class="row">

              <div class="col-5 credits">
                <a href="https://smithsteelservice.com/"><img src="static/img/smithSteel.png" alt="smithSteel" class="credits_img"></a>
              </div>
                            <div class="col-2"></div>
              <div class="col-5 credits">
                <a href="http://penguinfuels.com/Locations.html"><img src="static/img/penguinFuels.jpg" alt="penguinFuels" class="credits_img"></a>
              </div>
            </div>
          </div>
        </div>
        <hr>
    </div>
    <br><br>  <!-- Footer section -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <div class="footer bg-dark" >
   <div class="container" id="pigga">
     <div class="row">
      <div class="col col-lg-4 col-sm-6">
        <a href="#"><i class="fas fa-map-marked-alt"> Gilford, New Hampshire 03249</i></a>
      </div>
      <div class="col col-lg-4 col-sm-6">
        <a href="mailto:Honeybee.electrician@gmail.com"><i class="far fa-envelope"> Honeybee.electrician@gmail.com</i></a>
      </div>
      <div class="col col-lg-4 col-sm-6">
        <a href="#"><i class="fas fa-phone-alt"> (508)-277-6448</i></a>
      </div>
     </div>
     <div class="row">
       <div class="col col-12">
       <p class="foottext">©2020 by Christopher M. Daggett Electrician.</p></div>
     </div>
    </div></div>
  <!-- </footer> -->
  </section>



  <!-- Bootstrap Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

</html>