{% load static %}
<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width">
          
          <!-- Remember to replace this with your title! -->
          <title>Services</title>
          
          <!-- Link for boostrap from: 
          https://getbootstrap.com/docs/5.0/getting-started/introduction -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
          <!-- Bootstrap Icons -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      
          <!-- Custom styles (these can extend bootstrap which is JUST CSS!) -->
          <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
      
        </head>

        
  <!-- PASTE NAVBAR CODE TO CUSTOMIZE -->
<body id="overlayer2">
  <nav class="navbar navbar-expand-sm navbar-light shadow-lg p-2" id="navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #564A4A" id="logo-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/services">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contactUs">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




    <!-- Services display 1 -->
    <br><br>
  <section>
    <div row>
      <div class="col-12">
        <h2 class="head3 container undhed"> Take a look at our services! </h2>
      </div>
    </div><span class="row"><hr class="hrid2"><hr class="hrid"></span><br><br>
    <div class="row">
        <div class="col-2"></div>
      <div class="col-lg-4 col-sm-12" style="text-align: center">
        <img src="/static/img/services1.jpg" alt="galvanize" class="servicesimg">
      </div>
    <div class="col-lg-4 col-sm-12" style="text-align: center">
        <h2>Residential</h2>
        <p>Bring your dreams to light when it comes to your home! 
          We provide services not only for installations but also renovations.
           Rest assured we treat every home with the same respect as our own! 
          ​</p>
      </div>
      
  </section>

      <!-- Services display 2 -->
      <br><br>
      <section>
        <div class="row">
            <div class="col-2"></div>
          <div class="col-lg-4 col-sm-12" style="text-align: center">
            <h2>Commercial</h2>
            <p>Every business deserves to showcase their accountability, execution and communication.
               Allow us to shine a light on all of your accomplishments with our qaulity electrical care!
            </p>
          </div>
        <div class="col-lg-4 col-sm-12" style="text-align: center">
            <img src="/static/img/services2.jpg" alt="services2" class="servicesimg">
          </div>
          
      </section>
          <!-- Services display 3 -->
    <br><br>
    <section>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-4 col-sm-12" style="text-align: center">
          <img src="/static/img/services3.jpg" alt="services3" class="servicesimg">
      </div>
      <div class="col-lg-4 col-sm-12" style="text-align: center">
          <h2>Mini Split Wiring</h2>
          <p>Let us be honest, we all get those hefty electric bills at the end of the month. From endless usage of heaters, fans, and air conditioners. 
            Allow us to cut that bill down! 
            Consider installing a mini split system, it adjusts all of your temperature controlled needs while saving you hundreds on your utility bills! 
          </p>
      </div>
        
    </section>
          <!-- Services display 4 -->
    <br><br>
    <section>
      <div class="row">
          <div class="col-2"></div>
        <div class="col-lg-4 col-sm-12" style="text-align: center">
          <h2>Generators</h2>
          <p>Black outs no longer mean lights out!<br><br>            
            Give us a call today to find your best fit for a generator! 
          </p>
        </div>
      <div class="col-lg-4 col-sm-12" style="text-align: center">
          <img src="/static/img/services4.jpg" alt="services4" class="servicesimg">
        </div>
        
    </section>


  <br><br>
<!-- Footer section -->
    <!-- <footer class="footer mt-auto py-8 bg-dark"> -->
      <div class="footer bg-dark" >
        <div class="container" id="pigga">
          <div class="row">
           <div class="col col-lg-4 col-sm-6">
             <a href="#"><i class="fas fa-map-marked-alt"> Gilford, New Hampshire 03249</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="mailto:Honeybee.electrician@gmail.com"><i class="far fa-envelope"> Honeybee.electrician@gmail.com</i></a>
           </div>
           <div class="col col-lg-4 col-sm-6">
             <a href="#"><i class="fas fa-phone-alt"> (508)-277-6448</i></a>
           </div>
          </div>
          <div class="row">
            <div class="col col-12">
            <p class="foottext">©2020 by Christopher M. Daggett Electrician.</p></div>
          </div>
         </div></div>
       <!-- </footer> -->





</body>
</html>